// LIST USERS
.list {
  margin: 0 auto;
  padding: 10px;
  display: flex;
  line-height: 0%;
}

.id {
  margin-right: 20px;
}

.leftcolumn {
  width: 30%;
}

.rightcolumn {
  width: 40%;
  margin-left: 30px;
}

.actioncolumn {
  width: 30%;
  margin-left: 30px;
}
